RewriteEngine On

# Bloqueia o acesso aos diretórios 'assets' e 'core'
RewriteRule ^(src)/ - [F,L]

# Redireciona todas as requisições para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
