.c-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.c-content__banner {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../images/pages/home/banner-home.jpg");
    background-position: center center;
    background-size: cover;
}